@use "../abstract/variables" as var;
@use "../abstract/mixins" as mix;
@use "sass:map";

.grid {
    display: grid;
    inline-size: 100%;
    gap: map.get(var.$spacing, 32);

    &__container {
        inline-size: 100%;
        max-inline-size: 15.063em;
        margin: map.get(var.$spacing, 32);
    }

    &__item {
        border-radius: .5em;
        box-shadow: 40px 60px 50px rgba(0, 0, 0, .2);
        overflow: hidden;
        @include mix.transition(.3s, ease, transform);

        @media (any-pointer: fine) {
            &:hover {
                transform: scale(1.05);
            }
        }

        &--job_offer {
            background-color: map.get(var.$purple, 500);
            color: var.$white;

            .quotation {
                display: none;
                position: absolute;
                top: -15%;
                left: 59%;
                z-index: -1;
            }

            .grid__container {
                position: relative;
                z-index: 1;
            }

            & .grid__verified,
            & .grid__history {
                color: map.get(var.$purple, 50);
                z-index: 1;
            }
        }

        &--support_team {
            background-color: map.get(var.$grey, 500);
            color: var.$white;

            & .grid__verified {
                color: map.get(var.$grey, 300);
            }

            & .grid__history {
                color: map.get(var.$grey, 100);
            }
        }

        &--experience {
            background-color: var.$white;
            color: map.get(var.$grey, 500);

            & .grid__verified,
            & .grid__history {
                color: map.get(var.$grey, 400);
            }
        }

        &--teaching {
            background-color: var.$dark_blue;
            color: var.$white;

            & .grid__highlights {
                color: map.get(var.$grey, 200);
            }

            & .grid__history {
                color: map.get(var.$grey, 100);
            }
        }

        &--life_change {
            background-color: var.$white;
            color: map.get(var.$grey, 500);

            & .grid__verified {
                color: map.get(var.$grey, 300);
            }

            & .grid__history {
                color: map.get(var.$grey, 400);
            }
        }
    }

    &__avatar {
        display: flex;
        gap: calc(map.get(var.$spacing, 16) + map.get(var.$special_spacing, 1));
        margin-block-end: map.get(var.$spacing, 16);
    }

    &__avatar_img {
        inline-size: calc(map.get(var.$spacing, 32) - map.get(var.$special_spacing, 2) * 2);
        block-size: calc(map.get(var.$spacing, 32) - map.get(var.$special_spacing, 2) * 2);
        border-radius: 50%;
        outline: 3px solid transparent;
        box-shadow: 0 calc(map.get(var.$special_spacing, 2) * 2) calc(map.get(var.$special_spacing, 2) * 2) var.$black;


        &--colored_300 {
            outline-color: map.get(var.$purple, 300);
        }

        &--colored_500 {
            outline-color: map.get(var.$purple, 500);
        }
    }

    &__fullname {
        margin-block-end: calc(map.get(var.$special_spacing, 2) * 2);
    }

    &__highlights {
        margin-block-end: map.get(var.$spacing, 16);
    }
}

@include mix.respond_to(min, m_screen) {
    .grid {
        grid-template-columns: repeat(2, 1fr);

        &__container {
            max-inline-size: 36.438em;
        }

        &__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 3;
            }

            &:nth-child(2) {
                grid-area: 2 / 1 / 3 / 2;
            }

            &:nth-child(3) {
                grid-area: 2 / 2 / 3 / 3;
            }

            &:nth-child(4) {
                grid-area: 3 / 1 / 4 / 3;
            }

            &:nth-child(5) {
                grid-area: 4 / 1 / 5 / 3;
            }
        }

        .quotation {
            display: initial;
        }

        .grid__item--support_team,
        .grid__item--experience {
            .grid__container {
                max-inline-size: 15.219em;
            }
        }
    }
}

@include mix.respond_to(min, l_screen) {

    .grid {
        grid-template-columns: repeat(4, 1fr);

        &__container {
            max-inline-size: 29.75em;
        }

        &__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 3;
            }

            &:nth-child(2) {
                grid-area: 1 / 3 / 2 / 4;
            }

            &:nth-child(3) {
                grid-area: 2 / 1 / 3 / 2;
            }

            &:nth-child(4) {
                grid-area: 2 / 2 / 3 / 4;
            }

            &:nth-child(5) {
                grid-area: 1 / 4 / 3 / 5;
            }
        }

        .quotation {
            left: 72.2%;
        }

        .grid__item--support_team,
        .grid__item--life_change,
        .grid__item--experience {
            .grid__container {
                max-inline-size: 11.938em;
            }
        }
    }
}