*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  img, picture, video, canvas, svg {
    display: inline-block;
    max-inline-size: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
    border: none;
    background-color: transparent;
  }